:root {
  --primary-color: rgb(127, 158, 60);
  --secondary-color: rgb(105, 130, 49);
  --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
  max-width: 400px; 
  width: 80%;
  text-align: center;
}

.form-title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: white;
}

.form-label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

.form-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-button {
  background-color: var(--primary-color);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.form-button:hover {
  background-color: var(--secondary-color);
}

@media screen and (max-width: 600px) {
  .form-title {
    font-size: 2rem;
    text-align: center;
  }
  .form-container {
    max-width: 100%;
  }
}
